<% layout('../views/layout/page') -%>
<% block('title', titleText) %>
<% block('script', "<script src='/js/terminalTable.js' defer></script>") %>


<h2>Таблица терминалов</h2>
<div id="terminalTable"></div>